# Folder view configuration files
.DS_Store

# JetBrains IDE
.idea

# Node modules
node_modules

# Grunt
Gruntfile.js
package.json

# Thumbnail cache files
._*

# Custom Pages and Folders
js
img
fonts
components.html
marketing.html
