# Folder view configuration files
.DS_Store

# JetBrains IDE
.idea

# Node modules
node_modules

# Grunt files
Gruntfile.js
package.json

# LESS configs
less/.*

# Custom files
.*
._*
components.html
marketing.html
NOTES.md

# Custom folders
js
img
fonts
